header {
    background: #BBBBBB;
    padding: 20px 0;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
    
}

.box h1 {
    height: 75px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    padding: 25px 0;
}

nav {
    position: absolute;
    top: 25px;
    right: 0;
    height: 75px
}

nav li{
    display: inline; /*itens on the same line*/
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold; 
    font-size: 22px;
    text-decoration: none; /*underline*/
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline; 
} 

.projects {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.projects li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 50px 0;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000; /*line size, style and color*/
    border-radius: 10px; /*round corners*/
}

.projects li:hover {
    border-color: #C78C19;
}

.projects li:active {
    border-color: #088C19;
}

.projects li:hover h2 { /*it will change the h2 when hovering over the element */
    font-size: 32px;
}

.projects h2 {
    font-size: 30px;
    font-weight: bold;
}

.project-description {
    font-size: 18px;
    margin-top: 10px;
}

.projects img {
    width: 100px;
    height: 100px;
    background-color: transparent
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}